:root {
    --color-background-light: #fff;
    --color-background-dark: #1c1a26;
    --color-border-light: #b7b7b7;
    --color-text-dark: #16141e;
    --color-text-hover: #737278;
    --color-accent: #ffe047;
    --color-accent-hover: #fe9;
    --color-dark-mode-background: #dad9db;
    --color-dark-mode-shadow: #ffffff33;
    --color-dark-mode-btn-background: #dad9db;
}
@font-face {
    font-family: 'Graphik_Regular';
    src: url('fonts/GraphikCompLCWebRegular-Reg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--color-background-light);
    height: 5rem;
    width: 100%;
    display: block;
    font-size: 1rem;
    font-family: Graphik_Regular, sans-serif;
    border-bottom: solid 1px var(--color-border-light);
    z-index: 100;
    position: sticky;
    top: 0;
    padding: 0.5rem 0 1rem 0;
}

a {
    font-family: Graphik_Regular, sans-serif;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ============menu============ */

.menu-toggle img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle.open img {
    transform: rotate(90deg);
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 50px;
    z-index: 1000;
}

.side-menu {
    position: fixed;
    top: 5.6rem;
    left: -500px;
    width: 400px;
    height: 90%;
    background-color: var(--color-background-light);
    transition: left 0.5s ease-in-out;
    z-index: 999;
    overflow-y: scroll;
    padding-left: 2rem;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin: 0;
}

.side-menu ul li a {
    display: block;
    padding: 15px;
    color: var(--color-text-dark);
    text-decoration: none;
}

.side-menu ul li a:hover {
    color: var(--color-text-hover);
}

.content {
    padding: 20px;
}

.side-menu.open {
    left: 0;
}

.wrapper .btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
.sombre{
    display: flex;
    align-items: center;

}

.sombre img{
    height: 10%;
    margin-right: 0.5em;
}

.p_sombre{
    font-size: 1em;
    font-weight: 500;
}

.dark-mode #img_darkmode{
    content: url(../img/svg/darkmode.svg);
}

/* ===section menu=== */

nav p {
    font-size: 1.2rem;
    margin: 2.4rem 0;
    font-weight: 600;
}

.first_list_nav, .second_list_nav li {
    border-bottom: solid 1px var(--color-border-light);
}

/* ==darkModeButton== */

.btn input[type="checkbox"] {
    background-color: #dad9db;
    position: relative;
    width: 55px;
    height: 35px;
    appearance: none;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 2px 2px #5858581a,
                inset 0 -2px 2px #5858581a;
    transition: 0.5s;
    cursor: pointer;
}

.btn input:checked[type="checkbox"] {
    background-color: var(--color-dark-mode-background);
    box-shadow: inset 0 2px 2px var(--color-dark-mode-shadow),
                inset 0 -2px 2px var(--color-dark-mode-shadow);
}

.btn input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    transition: 0.5s;
    box-shadow: inset 0 2px 2px #fff,
                inset 0 -2px 2px #fff;
}

.btn input:checked[type="checkbox"]::before {
    background: #ffffff;
    box-shadow: inset 0 2px 2px var(--color-dark-mode-shadow),
                inset 0 -2px 2px var(--color-dark-mode-shadow);
    transform: translateX(21px);
}

.dark-mode {
    background: var(--color-background-dark);
    color: var(--color-principal);
}

.dark-mode .button_search,
.dark-mode .ul_nav a,
.dark-mode .section_left .link_login,
.dark-mode .nav_category a,
.dark-mode .ul_nav .programme_tv_link img {
    color: var(--color-background-light);
}

.dark-mode header {
    background-color: var(--color-background-dark);
    color: var(--color-background-light);
}

.dark-mode .side-menu {
    background-color: var(--color-background-dark);
}

.dark-mode .side-menu ul li a {
    color: var(--color-background-light);
}


/*=====Logo / img DarkMode=====*/

.dark-mode #logo {
    content: url('../img/icon-telerama-dark.png');
}

.dark-mode #img_tv{
    content: url('../img/svg/tv_white.svg');
}

.dark-mode #prog_tv{
    content: url('../img/svg/programe_tv_white.svg');
}

.dark-mode #menu-icon{
    content: url('../img/svg/menu_dark.svg');
}

.dark-mode #menu-icon.open {
    content: url('../img/svg/close_dark.svg');
}

/* ===========section header============ */
.header_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 6rem;
}

/* ==========left============= */

.section_header_left {
    align-items: center;
}

.section_header_left a img {
    width: 40%;
    margin-left: 2rem;
}

.button_menu, .button_search {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.button_menu i {
    font-size: 1.5rem;
    color: var(--color-text-dark);
}

.button_menu i:hover,
.programme_tv_link:hover,
.magazine_link:hover,
.button_search:hover,
.link_login:hover,
.nav_category li a:hover {
    color: var(--color-text-hover);
}

/* ==========middle============= */
.ul_nav {
    display: flex;
}

.programme_tv_link, .magazine_link {
    display: flex;
    align-items: center;
}

.ul_nav li {
    margin-right: 20px;
}

.ul_nav a {
    display: flex;
    align-items: center;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .08em;
    line-height: 1.18;
}

.ul_nav i {
    margin-right: 10px;
}

/* ==========left============= */

.section_left {
    display: flex;
}

.section_left a {
    color: black;
    font-family: Graphik_Regular, sans-serif;
    margin-right: 20px;
}

.link_subscribe {
    background-color: var(--color-accent);
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: 600;
}

.link_subscribe:hover {
    background-color: var(--color-accent-hover);
}

.button_search {
    margin-right: 30px;
    font-size: 20px;
}

/* ======nav_category====== */
.nav_category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px var(--color-border-light);
}

.nav_category li {
    padding: 2rem 1.5rem;
}

.nav_category a {
    text-decoration: none;
    color: black;
}

@media (max-width : 768px){
    header, a, .ul_nav a {
        font-size: 12px;
    }
    .menu-toggle{
        left: 10px;
        top: 30px;
    }
    
    .section_header_left a img{
        margin-left: -3em;
        width: 50%;
    }

    .section_left section{
        display: flex;
    }

    .section_left a{
        margin: auto 2em auto 0;
    }
    a.link_subscribe{
        margin-right: 0;
    }
    .ul_nav, .fa-magnifying-glass{
        display: none;
    }
}